.card-set {
  /* outline: 1px solid tomato; */
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.card-set__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  // margin: 15px;
  @media screen and(min-width: 768px) {
    width: calc((100% - 60px) / 2);
    display: block;
    margin-right: 30px;
    margin-bottom: 30px;

    // &:nth-child(2n) {
    //   margin-right: 0;
    // }
    // &:nth-last-child(-n + 1) {
    //   margin-bottom: 0;
    // }
  }
  @media screen and(max-width: 1199px) {
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 1) {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
  @media screen and(min-width: 1200px) {
    width: calc((100% - 60px) / 3);
    display: block;

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}
.card-set__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms $timing-function;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.card-set__box {
  position: relative;
  overflow: hidden;
}
.card-set__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $text-secondary;
  margin-bottom: 4px;
}
.card-set__meta {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.card-set__desc {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.9;
  font-weight: 400;
  color: $text-primary;
}
.card-set__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms $timing-function;

  .card-set__link:hover &,
  .card-set__link:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}
.card-set__text {
  color: $text-white;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
