.clients {
  display: flex;
  flex-wrap: wrap;
}
.clients__link {
  max-height: 96px;
  padding: 16px 32px;
  // @include centeredFlex(flex, center, center);
  // padding: 16px 75px;
  display: block;
  text-align: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms $timing-function;

  &:focus,
  &:hover {
    border: 1px solid $accent-color;
  }
}

.clients__item {
  // width: 210px;
  // height: 92px;
  // margin: 15px;

  @media screen and (max-width: 767px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 60px) / 3);
  }

  @media screen and(min-width: 768px) {
    // width: 226px;
    // height: 92px;
    // margin: 15px;
  }
  @media screen and(min-width: 1200px) {
    @include centeredFlex(flex, center, center);
    width: 170px;
    height: 92px;
    // margin: 15px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &:not(:nth-last-child(-n + 2)) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &:nth-child(2n + 1) {
    @media screen and (max-width: 767px) {
      margin-right: 30px;
    }
  }

  &:nth-child(-n + 3) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }
  &:not(:nth-child(3n)) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 30px;
    }
  }
}

.clients__logo {
  fill: #afb1b8;
  transition: fill 250ms $timing-function;

  .clients__link:focus &,
  .clients__link:hover & {
    fill: $accent-color;
  }
}
