.feature {
  @media screen and(min-width: 480px) {
    margin: -15px;
  }
  @media screen and(min-width: 768px) {
    @include centeredFlex(flex, center, center);
  }
  @media screen and(min-width: 1200px) {
    @include centeredFlex(flex, center, center);
  }

  // display: flex;
}

.feature__item {
  text-align: center;
  margin: 15px;
  @media screen and(min-width: 768px) {
    flex-basis: calc((100%-30 * 2) / 2);
  }

  @media screen and(min-width: 1200px) {
    flex-basis: calc((100%-30 * 3) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

// .visually-hidden {
//   position: absolute;
//   clip: rect(0 0 0 0);
//   width: 1px;
//   height: 1px;
//   margin: -1px;
// }
.feature__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $text-secondary;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-top: 30px;
  /* outline: 1px solid tomato; */
}

.feature__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.feature__box {
  // @include centeredFlex(flex, center, center);
  padding: 25px 0;
  background-color: $secondary-color;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
