.header-page {
  position: relative;
  height: 60px;
  border-bottom: 1px solid #ececec;

  @media screen and(min-width: 768px) {
    height: 80px;
  }
}

.header-page__nav {
  @media screen and(min-width: 768px) {
    @include centeredFlex(flex, center, center);
  }

  // display: flex;
  // align-items: center;
  // justify-content: center;
}
.site-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: $text-secondary;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  text-decoration: none;
  transition: color 250ms $timing-function;
  &:hover,
  &:focus,
  &--active {
    color: $accent-color;
  }
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}
.site-nav__item {
  position: relative;
  align-items: center;
}

.site-nav {
  display: flex;
  list-style: none;
  margin-left: 93px;
  @media screen and(max-width: 767px) {
    display: none;
  }
}

.site-nav__link--active::after {
  content: '';

  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
}
