.hero-page {
  min-width: 480px;
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  background: #2f303a;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img-bg.jpg);
  @media screen and(min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-page__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  color: $text-white;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.4;
  }
}
