.network {
  @include centeredFlex(flex, center, center);
  // display: flex;
  
  // justify-content: center;
  // align-items: center;
  margin-top: 16px;
}
.network__item {
  @include centeredFlex(flex, center, center);
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.network__link {
  @include centeredFlex(flex, center, center);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  fill: #afb1b8;
  width: 100%;
  height: 100%;
  border-radius: 50% 50%;

  transition: background-color 250ms $timing-function;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
  &--footer-page {
    background-color: rgba(255, 255, 255, 0.1);
    fill: $primary-color;
  }
}

.network__icon {
  transition: fiil 250ms $timing-function;
  .network__link:hover &,
  .network__link:focus & {
    fill: white;
  }
}
