.team {
  // display: flex;
  // flex-wrap: wrap;
  @media screen and(min-width: 1200px) {
    display: flex;
  }
}

.team__item {
  text-align: center;
  background: $secondary-color;
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100%-30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:nth-last-child(-n + 1) {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100%-30px * 3) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team__box {
  text-align: center;
  background-color: $primary-color;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: $text-secondary;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team__text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
