.container {
  // min-width: 480px;
  // max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  &--footer-flex {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: baseline;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
  &--flex {
    // display: flex;
    // align-items: center;
    @media screen and (min-width: 768px) {
      @include centeredFlex(flex, center, center);
    }

    // display: flex;
    // align-items: center;
  }
}
