 /* Utilities */

body {
  font-family: 'Roboto', sans-serif;
  color: $text-primary;
}
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}
